<div>
    <h3>{{ playlist.name }}</h3>
    
    
<!--     <div ng-repeat="song in songs">
        <p>{{song.name}}</p>
    </div> -->
    <table class='table' ng-show="playlist.songs.length">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artists</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in playlist.songs" ng-class="{active: isCurrent(song)}">
                <td>
                    <button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
                <td>{{ song.name }}</td>
                <td><span ng-repeat="artist in song.artists">{{ artist.name }} </span></td>
                <td>{{ song.genres.join(', ') }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <form class="form-horizontal" ng-submit="addSong(playlist._id)" name="addSongForm">
        <fieldset>
            <!-- <legend></legend> -->
            <div class="form-group">
                <label class="col-xs-1 control-label">Add Song</label>
                <div class="col-xs-11">
                    <select ng-model="songSelect" ng-options="song.name for song in songs track by song._id" required></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-11 col-xs-offset-1">
                    <button type="submit" class="btn btn-success" ng-disabled="addSongForm.$invalid">Add</button>
                </div>
            </div>
        </fieldset>
        <!-- <div class="alert alert-warning" ng-show="addSongForm.$invalid && playlistForm.$dirty">Please enter a title!</div> -->
    </form>
    <pre>{{ addSongForm | json }}</pre>
    <br>
    <small ng-hide="playlist.songs.length">No songs.</small>
    <hr>
</div>